# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Third-party files 
third/antlr4-cpp-runtime-4/*
!third/antlr4-cpp-runtime-4/README.md

# ANTLR generated
grammar/.antlr/*
grammar/

# vscode files 
.vscode/*

# cmake generated
src/build/*

# documentation
doc/Specification/*.gz
doc/Specification/*.out
doc/Specification/*.log
doc/Specification/*.aux
doc/Specification/*.toc
